# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see
# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  b {
    description: Bookmarks...
    bindings {
      b {actionId: ToggleBookmark, description: Bookmark}
      m {actionId: ToggleBookmarkWithMnemonic, description: Bookmark With Mnemonic}
    }
  }
  c {actionId: ActivateGitHubCopilotChatToolWindow, description: Copilot chat}
  d {
    description: Debugging...
    bindings {
      b {
        description: Breakpoint...
        bindings {
          b {actionId: ToggleLineBreakpoint, description: Toggle breakpoint}
          a {actionId: ToggleBreakpointAction, description: Toggle breakpoint action}
          e {actionId: ToggleBreakpointEnabled, description: Toggle breakpoint enabled}
          f {actionId: ToggleFieldBreakpoint, description: Toggle field breakpoint}
          m {actionId: ToggleMethodBreakpoint, description: Toggle method breakpoint}
        }
      }
      c {actionId: Debugger.RemoveAllBreakpointsInFile, description: Clear all breakpoints}
      d {actionId: ActivateDebugToolWindow, description: Debug Tool Window}
      f {
        description: Find...
        bindings {
          b {actionId: ViewBreakpoints, description: Breakpoints}
          c {actionId: ChooseDebugConfiguration, description: Debug configuration}
        }
      }
      o {actionId: KotlinConsoleREPL, description: Open Kotlin REPL}
      r {
        description: Run...
        bindings {
          c {actionId: Resume, description: Continue}
          C {actionId: DebugClass, description: Debug class}
          d {actionId: Debug, description: Debug}
          h {actionId: RunToCursor, description: To here/cursor}
        }
      }
      s {
        description: Step...
        bindings {
          i {actionId: StepInto, description: Into}
          n {actionId: StepOver, description: Over}
          o {actionId: StepOut, description: Out}
        }
      }
    }
  }
  f {
    description: Find...
    bindings {
      c {actionId: RecentChangedFiles, description: Recently changed files}
      e {actionId: SearchEverywhere, description: Everywhere}
      f {actionId: GotoFile, description: Go To File}
      g {actionId: FindInPath, description: Find in files}
      h {actionId: RecentFiles, description: Opened files history}
      l {actionId: RecentLocations, description: Recent locations}
      r {actionId: ReplaceInPath, description: Replace in Files}
      x {actionId: GotoAction, description: Search and execute actions}
    }
  }
  g {
    description: Git...
    bindings {
      B {actionId: Git.Branches, description: Branches}
      b {actionId: Annotate, description: Blame}
      c {actionId: Vcs.Show.Local.Changes, description: Local changes}
      f {actionId: Git.Fetch, description: Fetch}
      h {actionId: Vcs.ShowTabbedFileHistory, description: Show file history}
      l {actionId: Vcs.Show.Log, description: Show Log}
      m {actionId: Git.Configure.Remotes, description: Manage remotes}
      o {actionId: Github.Open.In.Browser, description: Open on github}
      p {actionId: Vcs.Push, description: Push}
      r {actionId: Git.Rebase, description: Rebase}
      s {
        description: Stash...
        bindings {
          s {actionId: Git.Stash, description: Stash}
          u {actionId: Git.Unstash, description: Unstash}
        }
      }
      u {actionId: Git.Pull, description: Pull}
    }
  }
  t {
    description: Toggle...
    bindings {
      d {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode}
      l {actionId: EditorToggleUseSoftWraps, description: Line Soft Wrapping}
      n {actionId: EditorToggleShowLineNumbers, description: Line Numbers}
      p {actionId: TogglePresentationMode, description: Presentation Mode}
      w {actionId: HideAllWindows, description: Show/Hide All Windows}
      z {actionId: ToggleZenMode, description: Zen Mode}
    }
  }
  u {actionId: LocalHistory.ShowHistory, description: Undo file history}
  o {
    description: Open tool windows...
    bindings {
      B {actionId: ActivateBookmarksToolWindow, description: Bookmarks and Breakpoints}
      R {actionId: ActivatePersistenceToolWindow, description: Repository/persistence}
      S {actionId: ActivateServicesToolWindow, description: Services}
      b {actionId: ActivateBuildToolWindow, description: Build}
      c {actionId: ActivateCoverageToolWindow, description: Coverage}
      d {actionId: ActivateDatabaseToolWindow, description: Database}
      e {actionId: ActivateEndpointsToolWindow, description: Endpoints}
      f {actionId: ActivateFavoritesToolWindow, description: Favorites}
      g {actionId: ActivateGradleToolWindow, description: Gradle Tasks}
      h {actionId: ActivateHierarchyToolWindow, description: Hierarchy}
      m {actionId: ActivateMavenToolWindow, description: maven}
      p {actionId: ActivateProfilerToolWindow, description: Profiler}
      r {actionId: ActivateRunToolWindow, description: Run}
      s {actionId: ActivateStructureToolWindow, description: Document structure}
      t {actionId: ActivateTerminalToolWindow, description: Terminal}
    }
  }
  p {
    description: Project...
    bindings {
      i {actionId: ImportProject, description: Import}
      k {actionId: CloseProject, description: Close}
      n {actionId: NewProject, description: New}
      r {actionId: ManageRecentProjects, description: Recent projects}
    }
  }
  s {
    description: Session...
    bindings {
      a {
        description: Ataman...
        bindings {
          f {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
          i {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
        }
      }
      Q {actionId: Exit, description: Exit}
      R {actionId: InvalidateCaches, description: Invalidate caches and restart}
      p {actionId: WelcomeScreen.Plugins, description: Plugins}
      r {actionId: RestartIde, description: Restart}
    }
  }
  r {
    description: Run...
    bindings {
      b {actionId: BuildMenu, description: Build popup}
      c {actionId: MakeModule, description: Compile Current Module}
      f {actionId: ChooseRunConfiguration, description: Find recent run configuration}
      l {actionId: Rerun, description: Rerun Latest}
      r {actionId: RunAnything, description: Run anything}
      t {actionId: RerunTests, description: Rerun Tests}
    }
  }
  z {
    description: Zoom...
    bindings {
      "]" {actionId: EditorIncreaseFontSize, description: Increase Font Size}
      "[" {actionId: EditorDecreaseFontSize, description: Decrease Font Size}
      "=" {actionId: EditorResetFontSize, description: Reset Font Size}
    }
  }
}
